* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

header {
    padding: 16px;
    background-color: blueviolet;
    box-sizing: border-box;
    height: 72px;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;

}

#logo {
    width: 40px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    list-style:none;
}

nav a {
    color: white;
}
    
#section1 {
    background-color: blanchedalmond;
    margin: 12px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    
}

input {
    padding: 8px;
    border: none;
    border: 16px;
    width: 100%;
}

#placeholder {
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: white;
   padding-left: 16px;
   padding-right: 16px;
   width: 30%;
border-radius: 8px;
}

#placeholder img {
    width: 24px;
    height: 20px;
    opacity: 70%;
    
}
